# Environment Variables
.env
.env.local
.env.*.local
.flaskenv

# Python Cache Files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Logs and Output Files
*.log
output.txt
debug.log

# Flask Instance Folder
instance/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid
